<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--唯一-->
    <dubbo:application name="pinyougou-search-service"></dubbo:application>
    <dubbo:registry  address="zookeeper://192.168.25.128:2181"></dubbo:registry>
    <dubbo:annotation package="com.pinyougou.search.service"></dubbo:annotation>
    <!--设置全局超时-->
    <dubbo:provider timeout="100000"></dubbo:provider>
    <!--暴露服务的端口 先用默认的-->
    <dubbo:protocol name="dubbo" port="20882"></dubbo:protocol>

    <!--<context:component-scan base-package="com.pinyougou.sellergoods.service"></context:component-scan>-->


</beans>