<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <bean class="org.apache.solr.client.solrj.impl.HttpSolrServer" id="httpSolrServer">
        <constructor-arg name="baseURL" value="http://localhost:8080/solr/collection1"></constructor-arg>
    </bean>
    <bean class="org.springframework.data.solr.core.SolrTemplate" id="solrTemplate">
        <constructor-arg name="solrServer" ref="httpSolrServer"></constructor-arg>
    </bean>

</beans>